<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
<!-- ---------------------------------------------------------------------------------------- -->
<!-- --------------------Для деплойда -->
    <script type="text/javascript" src="/web_client-1.0/services/controller.js"> </script>
    <script type="text/javascript" src="/web_client-1.0/services/host.js"> </script>
    <script type="text/javascript" src="/web_client-1.0/model/main_model.js"> </script>
    <link rel="stylesheet" type="text/css" href="/web_client-1.0/view/style.css">

<!-- --------------------Для отладки -->
<!--    <script type="text/javascript" src="/services/host.js"> </script>-->
<!--    <script type="text/javascript" src="/services/controller.js"> </script>-->
<!--    <script type="text/javascript" src="/model/main_model.js"> </script>-->
<!--    <link rel="stylesheet" type="text/css" href="/view/style.css">-->

<!-- ---------------------------------------------------------------------------------------- -->

</head>
<body>

<h2 align="center">Сотрудники и отделы компании</h2>

<form id="get_list" action="#">
    <h4>Списки отделов и сотрудников</h4>
    <button onclick="loadDistricts()">Отделы</button>
    <button onclick="getDistrictsWithAvgSalary()">Отделы со средней зарплатой</button>
    <button onclick="loadEmployers()">Сотрудники</button>
</form>

<br><hr><br>

<form id="search_employer" action="#">
    <h4>Поиск сотрудников по дню/периоду рождения</h4>
    от <input id="date0_employer" type="date">
    до <input id="date1_employer" type="date">
    <button onclick="findEmployer()">Найти</button>
    <button onclick="loadEmployers()">Сброс</button>
</form>

<form id="create_employer" action="#">
    <h4>Добавление сотрудника</h4>
    <input id="employer_name" placeholder="ФИО" title="Имя сотрудника">
    <input id="employer_birthday" type="date" title="Дата рождения сотрудника">
    <input id="employer_salary" placeholder="Зарплата" title="Зарплата сотрудника">
    <select id="employer_district" title="Отдел, где будет работать сотрудник"></select>
    <button onclick="createEmployer()">Добавить</button>
</form>

<form id="create_district" action="#">
    <h4>Создание отдела</h4>
    <input id="new_district_name" placeholder="Название отдела" title="Название отдела">
    <button onclick="createDistrict()">Добавить</button>
</form>

<form id="edit_employer" action="#">
    <h4>Редактирование сотрудника</h4>
    <input id="employer_id" disabled>
    <input id="edit_employer_name" placeholder="ФИО" title="Имя сотрудника">
    <input id="edit_employer_birthday" type="date" title="Дата рождения сотрудника">
    <input id="edit_employer_salary" placeholder="Зарплата" title="Зарплата сотрудника">
    <select id="edit_employer_district" title="Отдел, где будет работать сотрудник"></select>
    <button onclick="editEmployer()">Изменить</button>
</form>

<form id="edit_district" action="#">
    <h4>Редактирование отдела</h4>
    <input id="district_id" disabled="true">
    <input id="edit_district_name" title="Название отдела">
    <button onclick="editDistrict()">Изменить</button>
</form>

<table id="tableList"></table>

</body>
</html>