table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 20px
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#create_employer {
    margin: 20px;
    display: none;
}

#search_employer {
    margin: 20px;
    display: none;
}

#get_list {
    margin: 20px;
}

#edit_employer {
    margin: 20px;
    display: none;
}

#edit_district {
    margin: 20px;
    display: none;
}

#create_district {
    margin: 20px;
    display: none;
}

#employer_id{
    display:none;
}

#district_id{
    display:none;
}


