 table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
            margin: 20px
        }

td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

tr:nth-child(even) {
            background-color: #dddddd;
        }

#input_form {
            margin: 20px;
        }

#search_form {
            margin: 20px;
        }

#get_list{
            margin: 20px;
        }